--------------------------------- NUMBER ---------------------------------------
1 2 3 4 5 6 7 8 9 0 
--------------------------------- - + =  ---------------------------------------
- _ + = 
--------------------------------- [ ] { } \-------------------------------------
[ ] { } \
----------------------------------------task-----------------------------------
1. print the multiply table; // pratice the number and the =
2. print the add table; // pratice the number and the +, =
3. print the sub table; // pratice the number and the -, =
3. write the arr[0] ... arr[88]; // pratice the []
4. write the {1, 2, 3} ... {xx, xx+1, xx+2}; // pratice the {}
-------------------------------   WORDS  ---------------------------------------
world word the some type include namespace 
--------------------------------------------------------------------------------
-------------------------------   correct  ---------------------------------------
->don't: dont'( exchange the t and the ');
->even: evne ( exchange the n and the e);
->like: liek (exchange the k and the e); 
->they: thy (miss the e);
->hands: hansd( easy to exchange the d and the s);
----- make the conclusion: _--------
enhance the e's typing:
e e e e e e e e e e e e e e e e e e e e e e e e e e e e 
--------------------------------------------------------------------------------
