(10) 1. at least 10 typeracer games;

(20) 2. at least 20 English words;

---> the exercise <---
(30) 3. exercise(running, push-up, pull-up, sit-up)
(10) 4. brain gymnastics(10 minutes)
(30) 5. the xes improvment: kegel and squate;(about the 15minutes)

---> about the not play phone in the bed <---
(10) 6. afternoon;
(10) 7. evening;

---> about the rest time <---
(20) 8. afternoon, not late than 12:30;
(20) 9. evening, not late than 12:30;
